# This file contain OWNERS information.
* @demonCoder95  @majidali9696


# For documentation about CODEOWNERS file visit github documentation link:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
